@model IEnumerable<Producer>

@*Define ViewData*@
@{
    ViewData["Title"] = "List of Producers";
}

@*Write Code*@

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Bio)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Bio)
                        </td>
                        <td class="align-middle">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="fixed-button">
    <div class="button-container">
        <a asp-controller="Producers" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> New Producer
        </a>
    </div>
</div>

@section Scripts{
<script>
       function adjustButtonPosition() {
        var button = document.querySelector('.fixed-button');
        var footer = document.querySelector('footer');
        var buttonOffset = button.offsetTop + button.offsetHeight;
        var footerOffset = footer.offsetTop;

        if (buttonOffset >= footerOffset) {
            button.style.bottom = (buttonOffset - footerOffset + 25) + 'px';
        } else {
            button.style.bottom = '25px';
        }

        button.classList.add('show');
    }

    window.addEventListener('scroll', adjustButtonPosition);
    window.addEventListener('load', adjustButtonPosition);
</script>
}